#preview {
    display: none;
}

#f-s {
    color: #fff;
    text-align: center;
    margin-top: 10px;
}
#dropZone {
    width: 500px;
    border-width: 1px;
    border-color: #fff;
    border-style: dotted;
    display: inline-block;
}
